.git
.gitignore
.DS_Store

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

apps/figma/mock/node_modules/
apps/figma/mock/dist/
apps/figma/mock/venv/

apps/figma/.venv/
apps/figma/scripts/logs/
apps/figma/scripts/scores/

apps/figma/app-docs/helper/
